node_modules
dist
.env
src/configs/temudataku-web-solo-firebase-adminsdk-fbsvc-4fe0d51db7.json
src/configs/temudataku-web-solo-cc104c240de6.json
uploads/certificate/*
!uploads/certificate/.gitkeep
uploads/practiceFile/*
!uploads/practiceFile/.gitkeep
uploads/submissions/*
!uploads/submissions/.gitkeep
uploads/supportDocument/*
!uploads/supportDocument/.gitkeep
uploads/practice/submissions/*
!uploads/practice/submissions/.gitkeep
uploads/elearning/submissions/*
!uploads/elearning/submissions/.gitkeep
uploads/elearning/videos/*
!uploads/elearning/videos/.gitkeep
uploads/elearning_certificate/*
!uploads/elearning_certificate/.gitkeep

images/*
!images/.gitkeep
!images/thumbnailPractice/
images/thumbnailPractice/*
!images/thumbnailPractice/.gitkeep
images/elearningThumbnail/*
!images/elearningThumbnail/.gitkeep